<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BestChoice Cars</title>
</head>
<body>
<h3>Choose Price Range to Find the Available Cars</h3>

<form action="findCarbyPrice">

<input type="radio" id="<5 Lakh" name="5 Lakh" value="<5 Lakh" required>
  <label for="<5 Lakh"> <5 Lakh</label><br>

<input type="radio" id=">5 Lakh" name="5 Lakh" value=">5 Lakh" required>
  <label for=">5 Lakh"> >5 Lakh</label><br>
  
<input type="submit" name="back" value="Back">

</form>
</body>
</html>